# Node
node_modules/
**/node_modules/

# Env
.env
**/.env

# Uploads
uploads/
**/uploads/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Angular
.angular/
dist/
tmp/
out-tsc/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Testing
coverage/
.nyc_output/

# Build
build/
*.zip

# Misc
*.bak
*.tmp
